<%=  form_for @user do |f| %>
<div class="form-group">
  <label for="name">
    Name
  </label>

    <%= f.text_field :name, class: "form-control", required: true,id:"input" %>
</div>
<div class="form-group">
  <label for="Email">
    Email
  </label>

    <%= f.email_field :email, class: "form-control", required: true %>

</div>
<div class="form-group">
  <label for="password">
    Password
  </label>

    <%= f.password_field :password, class: "form-control" %>

</div>
<div class="form-group">
  <label for="password_confirmation">
    Password Confirmation
  </label>

    <%= f.password_field :password_confirmation, class: "form-control", required: true %>

</div>

<div class="form-group">
  <%= f.label :role %><br>
  <%= f.select(:role, @roles.keys.to_a, { prompt: "Please Select" ,class: "form-control"})%>
</div>


<div class="form-group">
    <%= f.submit "submit",class: "btn btn-success btn-block",id: 'submit'%>
</div>
<% end %>
